/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-orange: #ff6900;
    --color-black:#1a1a1a;
    --color-red:#ff0000;
    --color-green:#007c00;
    --color-white:#ffffff;
}
.container{
    padding: 0 20%;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
#header{
    background-color: var(--color-orange);
    color: var(--color-white); 
   
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    z-index: 1000; */
    
}

.container-header{
    height: 70px;
    justify-content: center;
    align-items: center;
}

.logo{
    width:100px
    
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul{
    list-style: none;
}

li>a{
    text-decoration: none;
    color: var(--color-white);
    padding: 6px 10px; 
}



/* main */

.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.card{
    width: calc(100% / 3);
    padding: 20px;
    position: relative;
}

.discount{
    position: absolute;
    top: 2px;
    right: 2px;
}

.debug{
    border: 2px solid black;
}