/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-orange: #ff6900;
    --color-black:#1a1a1a;
    --color-red:#ff0000;
    --color-green:#007c00;
    --color-white:#ffffff;
}
.container{
    padding: 0 20%;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
#header{
    background-color: var(--color-orange);
    color: var(--color-white); 
   
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   
    z-index: 1000; */
    
}

.container-header{
    height: 70px;
    justify-content: center;
    align-items: center;
}

.logo{
    width:100px
    
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul{
    list-style: none;
}

li>a{
    text-decoration: none;
    color: var(--color-white);
    padding: 6px 10px; 
}



/* main */

.card-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding:5% 0;
}

.card{
    width: calc(100% / 3 - 10px);
    margin: 5px;
    
}
.card-img{
    position: relative;
}
.hearts{ 
    color: var(--color-black);
    background-color: var(--color-white);
    width: 20px;
    height: 20px;
    font-size: 2em;
    position: absolute;
    top: 3px;
    right: 0;
    text-align: center;
   
}
.tag{
    position: absolute;
    left:0;
    bottom: 8%;
    text-align: center;
    gap: 5px;
}
.discount{
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 5px 10px;    
}
.eco{
    color: var(--color-white);
    background-color: var(--color-green);
    padding: 5px;    
}
.img{
    width:100% ;
    position: relative;
}

.card-text{
    font-size: 0.6em;
    line-height:1.2;
    padding: 2px 0;
}
.title{
    text-transform: uppercase;
}
.red-number{
    color: var(--color-red);
    font-weight: 800;
}

.crossed-number{
    text-decoration: line-through;
}

/* footer */

footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding:  30px;
    line-height: 2;
}
dic.d-flex > span{
    padding-right: 10px;
}
.debug{
    border: 2px solid black;
}